<div class="container">
    <h2>AGELOGとは？</h2>
    <p class="text-center">AGELOGは、名工大周辺に特化したグルメ・レストラン紹介＆レビューサイトです。</p>
    <p class="text-center">人気のまぜそばや学生向け大盛り定食屋など、あなたのお気に入りのお店を見つけてレビューしましょう！</p>
    <p class="text-center">自分がオススメしたい素敵なお店には、そのお店のページで"AGE"ボタンを押してみましょう！</p>
    <p class="text-center">名工大生みんなで名工大周辺の有名店から隠れ家スポットまで調べ尽くしてキャンパスライフをエンジョイしましょう！</p>
</div>
<%= render 'shared/letsfind' %>