<div class="index">
    <% if @user.age_shops.any? %>
        <ul>
        <% @user.age_shops.each do |shop| %>
            <li><%= link_to shop.name, shop_path(shop) %></li>
        <% end %>
        </ul>
    <% end %>
    <%= render 'shared/recommend' %>
</div>
<div id="listName" hidden>アゲた店リスト</div>
<%= render 'shared/listlink' %>