<div class="container">
    <% if @user.follower_users.any? %>
        <% @user.follower_users.each do |user| %>
            <%= render 'followers', u: user %>
        <% end %>
    <% else %>
        <p>まだ誰もフォローしていません。誰かフォローしてみよう！</p>
    <% end %>
</div>
<div id="listName" hidden>フォロワー</div>
<%= render 'shared/listlink' %>