<div class="index">
    <% if @user.following_users.any? %>
        <% @user.following_users.each do |following| %>
            <%= following.name %>
            <%= following.id %>
        <% end %>
    <% else %>
        <p>まだ誰もフォローしていません。誰かフォローしてみよう！</p>
    <% end %>
</div>