<div class="index">
    <% if @user.follower_users.any? %>
        <% @user.follower_users.each do |follower| %>
            <%= follower.name %>
            <%= follower.id %>
        <% end %>
    <% else %>
        <p>まだ誰にもフォローされていません。</p>
    <% end %>
</div>
<%= render 'shared/listlink' %>