$bodyColor: #fffbe9;
$signupBtn: #ffd39f;
$signupBtnHover: #ffead2;
$signupBtn: #ffd39f;
$signupBtnHover: #ffead2;
$twitterBtn: #5ea9dd;
// $twitterBtnHover: #ffead2;
$facebookBtn: #3765a3;
// $facebookBtnHover: #ffead2;
$white: #ffffff;