$bodyColor: #fffbe9;

$twitterBtn: #5ea9dd;
// $twitterBtnHover: #ffead2;
$facebookBtn: #3765a3;
// $facebookBtnHover: #ffead2;
$white: #ffffff;

/* gray */
$lightGray: #d1d1d1;

/* green */
$lightGreen: #e8ffc5;

/* orange */
$deepOrange: #FF8900;
$mediumOrange: #f9ae2c;
$lightOrange: #ffd39f;