// Place all the styles related to the Mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "color";
#userMap {
    height:450px;
}
.wrapProfile {
    position: relative;
    height: 452px;
    background: #fff;
    border:solid 1px $lightGray;
    border-radius: 6px;
    background: $white;
    overflow: hidden;
    .profileCover {
        height: 270px;
        background: #fff;
        border-bottom: solid 3px $lightGray;
        border-radius: 6px;
        background: $mediumOrange;
        overflow: hidden;
        img#coverImage {
           display: block;
           position: absolute;
           top:0;
        }
        
    }
    .profileHeader {
        .iconImage {
            position: absolute;
            top: 140px;
            left: 10px;
            width: 200px;
            height: 200px;
            background: #fff;
            border:solid 1px $lightGray;
            border-radius: 6px;
            overflow: hidden;
            text-align: center;
        }
        h2 {
            margin-top: 20px;
            padding: 0 5px 0 220px;
            text-align: left;
            font-size: 24px;
            font-weight: bold;
        }
        .infoArea {
            position: absolute;
            top: 335px;
            left: 15px;
        }
    }
}

.profile-navbar {
    nav {
        position: relative;
    }
    
    .followEditBtn {
        position: absolute;
        top: 8px;
        right: 0;
        button {
            margin: 0;
            padding: 6px 20px;
            color: #00a388;
        }
        button.follow:hover {
            background-color: #beeb9f;
        }
        button.unfollow {
            background-color: #00a388;
            color: $white;
        }
        button.unfollow:hover {
            background-color: #dd9f72;
            color: $white;
        }
        a.editBtn {
            background: none;
            text-decoration: none;
        }
    }
    
    .nav-tabs > li > a {
        padding: 15px 10px;
        &:hover {
            background: $lightOrange;
        }
    }
    }
    

.wrapFollow {
    float: left;
    margin: 0 2% 20px 0;
    width: 31%;
    .wrapProfile {
        position: relative;
        height: 360px;
        
        .profileCover {
            height: 150px;
        }
        .profileHeader {
            .iconImage {
                top: 110px;
                width: 100px;
                height: 100px;
                &:hover, &:focus {
                    opacity: 0.9;
                }
            }
            .iconImage img {
                width: 100px;
                height: 100px;
            }
            h2 {
                padding: 0 5px 0px 115px;
            }
            .infoArea {
                top: 205px;
            }
        }
    }
}