// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "color";
/* top */
.wrapAreaMap {
    margin: 0;
    padding: 0;
    text-align: center;
    background: $mediumGreen;
    
    h2 {
        margin: 0 15px;
        padding: 15px 0 0;
        background: $mediumGreen;
        font-weight: bold;
        color: $white;
    }
    
    #topAreaMap {
        border: 15px solid $mediumGreen;
    }
}