// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "color";
/* top */


.wrapHomeTop {
    overflow: hidden;
    
    
        
    h2 {
        margin: 0;
        padding: 5px 0;
        font-weight: bold;
        color: $white;
    }
    
    .wrapPhotoArea {
        float: left;
        width: 595px;
        height: 350px;
        h2 {
            background: $mediumGreen;
        }
        
        .openPhoto {
            float: left;
            position: relative;
            margin: 0 6px 0 0;
            width: 360px;
            height: 270px;
            background: $white;
            overflow: hidden;
            
            img {
                position: absolute;
                bottom: 0;
                margtin-top: -50px;
                width: 100%;
            }
        }
        
        .rank {
            float: left;
            position: relative;
            margin-bottom: 5px;
            width: 110px;
            height: 50px;
            background: #fff;
            cursor: pointer;
            overflow: hidden;
            
            a {
                display: block;
                width: inherit;
                height: inherit;
            }
            
            img {
                position: absolute;
                bottom: 0;
                width: 100%;
                margin-top: -50px;
            }
        }
        
        .rank:nth-child(2n-1) {
            margin-right: 5px;
        }
        .selectablePhotoCategories {
            clear: both;
            margin: 5px 0 0;
            height: 50px;
            background: #fff;
            
            .selectableRank {
                float: left;
                width: 50%;
                height: 100%;
                cursor: pointer;
                
                ol {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    height: inherit;
                    
                    li {
                        float: left;
                        position: relative;
                        width: 33%;
                        height: inherit;
                        overflow: hidden;
                        
                        span {
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 9999;
                            color: #ef9d44;
                            background: $white;
                            opacity: 0.9;
                        }
                        
                        img {
                            position: absolute;
                            top: 50%;
                            margin-top: -25px;
                            width: 100%;
                        }
                    }
                    
                }
            }
        }
    }
    
    .wrapAreaMap {
        float: right;
        text-align: center;
        background: $mediumGreen;
        h2 {
            
        }
        
        #topAreaMap {
            border: 10px solid $mediumGreen;
            border-top: none;
        }
        
    }
    
}

.categoriesLink .list-inline {
    padding-left: 10px;
}



