// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follow, .js_follow{
    background-color: #000000;
    color: white;
}
.unfollow, .js_unfollow{
    background-color: white;
    color: #000000;
}