@import "color";

.signupForm {
    text-align: center;
    .input-group {
        margin: 0 auto;
    }
    
    .signupSubmit {
        background: $signupBtn;
    }
    
    .btn-default {
        background: $signupBtn;
    }
    
    .btn-default:hover {
        background: $signupBtnHover;
    }
    
    .signupSubmit:hover {
        background: $signupBtnHover;
    }
    
    #twitter-signupForm {
        background: $twitterBtn;
        a {
            color: $white;
        }
        
        a:hover {
            color: $white;
            underline: none;
        }
        
        &:hover {
        opacity: 0.8;
    }
    }
    
    
    
    #facebook-signupForm {
        background: $facebookBtn;
        a {
            color: $white;
            &:hover {
                color: $white;
                underline: none;
            }
        }
        
        &:hover {
            opacity: 0.8;
        }
    }
    
}

.omniauthLoginBtn {
    .btn-default {
        margin: 10px 0 15px 0;
        width: 100%;
    }
}