<footer>
    <nav class="navbar navbar-default">
        <ul class="list-inline">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "What is AGELOG?", introduce_path %></li>
            <li><%= link_to "FAQ", faq_path %></li>
            <li><%= link_to "Contact us", contact_path %></li>
        </ul>
        <p class="text-center">Copyright &copy; 2016 KeyTamiya All Rights Reserved.</p>
    </nav>
</footer>